@use "../sass/abstracts" as *;
@use "./utilities/" as *;

.master-container {
  display: grid;
  max-width: 120.313rem;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, min-content);
  padding: 1rem;
  overflow-x: hidden;

  @media only screen and (max-width: $bp-tablet) {
    display: flex;
    flex-direction: column;
  }

  // @media only screen and (max-width: $bp-mobile) {
  //   padding: 2rem;
  //   max-width: 26.3rem;
  // }
}

.main {
  width: 100%;
  height: 100vh;
  grid-column: 2/2;
  grid-row: 1/2;
  padding: 1rem;

  @media only screen and (max-width: $bp-tablet) {
    height: auto;
  }

  @media only screen and (max-width: $bp-mobile) {
    padding: 2rem;
    max-width: 26.3rem;
    margin: 0 auto;
  }
}

.timer-count {
  font-variant-numeric: tabular-nums;
  font-family: arial;
  font-size: clamp(6rem, 15vw, 15rem);
  font-weight: bold;
  text-align: center;
  padding-top: 1.5rem;
}

.amount {
  grid-column: 3/3;
  font-size: 1rem;
}

.amount__coin-container {
  display: flex;
  gap: 5px;

  @media only screen and (max-width: $bp-tablet) {
    align-self: center;
    justify-content: center;
  }
}

.progress-bar {
  width: 100%;
  margin-top: 1rem;
  background-color: #1b1b1b;
  border-radius: 5px;

  border: 1px $color-cod-gray;

  @media only screen and (max-width: $bp-tablet) {
    width: 90vw;
  }
}

.money {
  padding: 1%;
  text-align: right;
  font-size: 20px;
  border-radius: 5px;
  font-size: 4rem;
  height: 25px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 2rem;

  @media only screen and (max-width: $bp-mobile) {
    gap: 1rem;
    flex-direction: column;
  }
}

.btn-control {
  padding: 0.6rem 4rem;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  color: $color-white;
  background-color: $color-bank-green;
  border: 1px solid $color-bank-green;
  border-radius: 5px;
  filter: drop-shadow(-2px 6px 0px #49a263);
  @include transition;

  &:active {
    transform: scale(0.95);
  }
}

.btn-control.stop {
  background-color: $color-error-red;
  filter: drop-shadow(-2px 6px 0px #ca4d4d);
  border: 1px solid $color-error-red;

  &__hover {
    background-color: $color-error-red;
    color: $color-white;
  }
}
.message-box {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
  padding: 1rem;
}

.pomo-counter {
  grid-column: 3/3;
  grid-row: 2;
  font-size: 1rem;
  max-width: 75ch;
  word-break: break-word;
}

.overlay {
  position: fixed;
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}

.overlay.show {
  opacity: 0.6;
  z-index: 1;
  background-color: rgb(0, 0, 0);
}

small {
  margin-top: 1rem;
}

.pomo-container {
  padding: 1rem 0 0 1rem;
}

.stats {
  font-size: 2.5rem;
}

.stats-container {
  padding: 1rem 0 0 1rem;

  @media only screen and (max-width: $bp-tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*CREDIT BOX*/
.credit {
  display: flex;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100vw;
  padding: 0.5rem 1.5rem;
  background-color: transparent;

  @media only screen and (max-width: $bp-tablet) {
    position: relative;
  }
}

.footer-note {
  font-size: 0.8rem;
  align-self: center;
  color: var(--bg-light);
}

.icon-github {
  width: 25px;
  height: 25px;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s;
}

.icon-github:hover {
  opacity: 1;
}
