@use "./abstracts/" as *;
.hero-heading {
  text-align: center;
  padding: 1rem;
  color: $color-cod-gray;
}

.header {
  &__description {
    text-align: center;
    color: $color-ebony-clay;

    @media only screen and (max-width: $bp-tablet) {
      font-size: clamp(10px, 5vw, 20px);
      padding: 0 2rem;
    }
  }
}
