.list,
.list-disabled {
  display: flex;
  flex-direction: column;
  grid-column: 1;
  grid-row: 1/-1;
  padding: 1rem;
}

.list-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.reward__heading {
  font-size: 2.5rem;
  text-align: center;
}

.reward__block {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 1rem;
  border-bottom: 2px solid rgb(240, 231, 231);
  border-radius: 10px;
}

.reward__left-content {
  display: flex;
  gap: 1rem;
}

.reward__right-content {
  display: flex;
  gap: 1rem;
}

.reward__cost {
  margin: auto;
  display: flex;
  gap: 5px;
}

.reward__coin-img {
  width: 20px;
  height: auto;
}

.reward__text {
  font-size: 1.2rem;
  align-self: center;
}

.reward-img {
  width: 50px;
  height: auto;
}

.btn-claim {
  cursor: pointer;
  border: 0;
  padding: 0.8rem 0.5rem;
  color: var(--bg-light);
  background-color: var(--accent-gold);
  border: 1px solid var(--border-light);
  border-radius: 10px;
}

.btn-claim:hover {
  background-color: var(--accent-gold-light);
}

.btn-delete {
  padding: 5px 10px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

.btn-delete:hover {
  color: var(--accent-gold-light);
}

.form {
  padding: 1rem 0;
  display: flex;

  input {
    font-size: 1.2rem;
    padding: 0.5rem;
    width: 100%;
    border: 1px dashed var(--accent-gold-light);
    border-radius: 10px;
  }

  select {
    padding: 1rem;
    cursor: pointer;
    background-color: var(--bg-light);
    border: 1px dashed var(--accent-gold-light);
  }

  button {
    padding: 1rem;
    cursor: pointer;
    background-color: var(--accent-gold);
    border: 1px dashed;
    color: white;
  }
}
