:root {
  --clr-background: rgb(223, 73, 73);
  --clr-primary: #ffffffea;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--clr-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 600px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
}

.timer-count {
  font-size: 8rem;
  text-align: center;
  padding-top: 1.5rem;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 2rem;
}

.btn-control {
  padding: 1rem 3rem;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 2rem;
}

.btn-control.start {
  background-color: rgb(38, 171, 38);
}

.btn-control.stop {
  background-color: rgb(218, 44, 32);
}

.btn-control.reset {
  background-color: rgb(201, 201, 201);
}

.message-box {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.list {
  border: 2px solid rgb(232, 255, 23);
}

.reward-heading {
  font-size: 2.5rem;
  text-align: center;
}

.list-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  border: 2px solid black;
  padding: 2rem;
  list-style: none;
  font-size: 1.2rem;
}

.list-item-element {
  padding: 2rem;
  border: 1px solid black;
  border-radius: 10px;
}
