:root {
  --clr-background: rgb(223, 73, 73);
  --clr-primary: #ffffffea;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

body {
  background-color: var(--clr-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.master-container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 1rem;
}

.main {
  width: 100%;
  height: 400px;
  background-color: white;

  grid-column: 1;
  border: 2px solid rgb(27, 27, 27);
  padding: 1rem;
}

/*TIME BUTTONS START*/
.times-container {
  display: grid;
  gap: 0.2rem;
  /* max-width: 100px; */
  margin-left: 1rem;
}

.time-btn {
  border: 0;
  cursor: pointer;
  color: black;
  border: 2px solid rgb(27, 27, 27);
  background-color: white;
  height: 72px;
  width: 177px;

  &:not(:disabled):hover {
    background-color: rgb(198, 199, 197);
  }
}

.time-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
/*TIME BUTTONS END*/

.times-container {
  grid-row: 1 / 1;
  grid-column: 2 / 2;
  display: flex;
  flex-wrap: wrap;
}

.timer-count {
  font-size: 8rem;
  text-align: center;
  padding-top: 1.5rem;
}

.amount {
  grid-column: 2/2;
  font-size: 2rem;
  padding: 2rem;
  border: 2px solid black;
}

.progress-bar {
  width: 100%;

  background-color: rgb(192, 192, 192);
  border-radius: 15px;
  border: 2px solid black;
}

.money {
  background-color: rgb(51, 204, 21);
  color: rgb(37, 37, 37);
  padding: 1%;
  text-align: right;
  font-size: 20px;
  border-radius: 15px;
  font-size: 4rem;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 2rem;
}

.btn-control {
  padding: 1rem 2rem;
  border: 0;

  cursor: pointer;
  color: white;
  font-size: 2rem;
  background-color: white;
  color: black;
  border: 2px solid rgb(27, 27, 27);

  &:hover {
    background-color: rgb(221, 221, 221);
  }
}

.btn-control.start {
  /* background-color: rgb(34, 197, 94); */
}

.btn-control.stop {
  /* background-color: rgb(220, 38, 38); */
}

.btn-control.reset {
  /* background-color: rgb(163, 163, 163); */
}

.message-box {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.list,
.list-disabled {
  /* border: 2px solid rgb(232, 255, 23); */
  display: flex;
  flex-direction: column;
  /* gap: 0.7rem; */
  margin-top: 4rem;
  grid-column: 1;
  padding: 1rem;
}

.list-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.reward-heading {
  font-size: 2.5rem;
  text-align: center;
}

.reward-block {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-bottom: 2px solid rgb(240, 231, 231);
  border-radius: 10px;

  .left-content {
    display: flex;
    gap: 1rem;
  }

  .right-content {
    display: flex;
    gap: 1rem;
  }
}

.reward-cost {
  margin: auto;
}

.btn-claim {
  cursor: pointer;
  /* background-color: rgb(87, 255, 137); */
  border: 0;
  padding: 1rem;
  color: rgb(36, 30, 30);
  /* border: 1px solid rgb(50, 207, 84); */
  /* border-radius: 10px; */
}

.btn-delete {
  padding: 1rem;
  cursor: pointer;
}

.reward-text {
  font-size: 1.2rem;
  align-self: center;
}

.reward-img {
  width: 50px;
  height: auto;
}

.pomo-counter {
  padding: 1rem 0 0 1rem;
  grid-column: 3/3;
  grid-row: 1;
  font-size: 2rem;
  color: black;
  border: 2px solid black;
}

.app-description {
  padding: 1rem;
  font-size: 1.3rem;
  line-height: 40px;
}

.form {
  padding: 1rem;
  display: flex;

  input {
    font-size: 1.2rem;
    padding: 0.5rem;
    width: 100%;
  }

  select {
    padding: 1rem;
    cursor: pointer;
  }

  button {
    padding: 1rem;
    cursor: pointer;
  }
}
