:root {
  --bg-light: #fff8e6;
  --bg-section: #fdf0d1;
  --text-heading: #2e1f11;
  --text-body: #5b4632;
  --accent-gold: #d6a84a;
  --accent-gold-light: #ebcb72;
  --button-active: #e4bd71;
  --icon-gold: #c7a156;
  --border-light: #f0e3c1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

body {
  background-color: var(--bg-light);
  color: var(--text-body);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-family: "Poppins", sans-serif;
}

.master-container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.header {
  grid-column: 1/-1;
  grid-row: 1/1;
  background-color: var(--accent-gold);
  padding: 1rem;

  h1 {
    font-size: 5rem;
    color: white;
  }
}

.main {
  width: 100%;
  height: 400px;
  background-color: white;
  grid-column: 2/2;
  grid-row: 2/2;

  /* border: 2px solid rgb(27, 27, 27); */
  padding: 1rem;
}

/*TIME BUTTONS START*/
.times-container {
  display: grid;
  gap: 0.2rem;
  grid-row: 3 / 3;
  align-self: center;

  grid-column: 2 / 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.time-btn {
  border: 0;
  cursor: pointer;
  height: 72px;
  width: 177px;
  color: var(--bg-light);
  background-color: var(--accent-gold);
  border: 1px solid var(--border-light);
  border-radius: 10px;

  &:not(:disabled):hover {
    background-color: var(--accent-gold-light);
  }
}

.time-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
/*TIME BUTTONS END*/

.timer-count {
  font-size: 8rem;
  text-align: center;
  padding-top: 1.5rem;
}

.amount {
  grid-column: 3/3;
  font-size: 1rem;
  padding: 2rem;
  /* border: 2px solid black; */
}

.progress-bar {
  width: 100%;
  margin-top: 1rem;
  background-color: var(--bg-section);
  border-radius: 15px;
  border: 1.5px solid var(--text-heading);
}

.money {
  background-color: var(--clr-gold);
  color: rgb(37, 37, 37);
  padding: 1%;
  text-align: right;
  font-size: 20px;
  border-radius: 15px;
  font-size: 4rem;
  height: 25px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 2rem;
}

.btn-control {
  padding: 1rem 2rem;
  border: 0;

  cursor: pointer;
  color: white;
  font-size: 2rem;
  background-color: var(--accent-gold);
  border: 1px solid var(--border-light);
  border-radius: 10px;

  &:hover {
    background-color: var(--accent-gold-light);
  }
}

.btn-control.start {
  /* background-color: rgb(34, 197, 94); */
}

.btn-control.stop {
  /* background-color: rgb(220, 38, 38); */
}

.btn-control.reset {
  /* background-color: rgb(163, 163, 163); */
}

.message-box {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.list,
.list-disabled {
  display: flex;
  flex-direction: column;
  grid-row: 1;

  grid-column: 1;
  grid-row: 2/2;
  padding: 1rem;
}

.list-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.reward-heading {
  font-size: 2.5rem;
  text-align: center;
}

.reward-block {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-bottom: 2px solid rgb(240, 231, 231);
  border-radius: 10px;

  .left-content {
    display: flex;
    gap: 1rem;
  }

  .right-content {
    display: flex;
    gap: 1rem;
  }
}

.reward-cost {
  margin: auto;
}

.btn-claim {
  cursor: pointer;
  border: 0;
  padding: 0.8rem 0.5rem;
  color: var(--bg-light);
  background-color: var(--accent-gold);
  border: 1px solid var(--border-light);
  border-radius: 10px;
}

.btn-delete {
  padding: 5px 10px;
  cursor: pointer;
  border: 0;
  background-color: transparent;

  &:hover {
    color: var(--accent-gold-light);
  }
}

.reward-text {
  font-size: 1.2rem;
  align-self: center;
}

.reward-img {
  width: 50px;
  height: auto;
}

.pomo-counter {
  padding: 1rem 0 0 1rem;
  grid-column: 3/3;
  grid-row: 2;
  font-size: 2rem;
  color: black;
  /* border: 2px solid black; */
  max-width: 75ch;
  word-break: break-word;
}

.app-description {
  padding: 1rem;
  font-size: 1.3rem;
  line-height: 40px;
  grid-row: 3/3;
}

.form {
  padding: 1rem 0;
  display: flex;

  input {
    font-size: 1.2rem;
    padding: 0.5rem;
    width: 100%;
    border: 1px dashed var(--accent-gold-light);
    border-radius: 10px;
  }

  select {
    padding: 1rem;
    cursor: pointer;
    background-color: var(--bg-light);
    border: 1px dashed var(--accent-gold-light);
  }

  button {
    padding: 1rem;
    cursor: pointer;
    background-color: var(--accent-gold-light);
    border: 1px dashed;
    color: white;
  }
}
.overlay {
  position: fixed;
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}

.overlay.show {
  opacity: 0.6;
  z-index: 1;
  background-color: rgb(0, 0, 0);
}

.modal-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  padding: 2rem;
  left: 50%;
  transform: translate(-50%, 0);
  top: 5%;
  background-color: white;
  border: 0;
  width: 592px;
  border-radius: 10px;
  text-align: center;
}

.modal-title {
  font-size: 3rem;
  font-weight: 400;
}

.modal-trophy {
  width: 400px;
  margin: 0 auto;
}

.modal-congrats {
  font-size: 1.5rem;
}

.btn-modal-close {
  margin-top: 1rem;
  padding: 1rem 2.5rem;
  cursor: pointer;
  background-color: transparent;
  border-radius: 10px;
}

small {
  margin-top: 1rem;
}
